html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto Flex', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000000;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {

  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  /* background: url(bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: xx-large;
  z-index: 100;
  cursor: pointer;
}

.div-title {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-title div {
  color: white;
  text-align: center;
}

.div-title div h1 {
  font-size: 90px;
}

/* **************** Change Slider Style *****************/
body::-webkit-scrollbar {
  display: none;
}

.intro-footer a {
  color: #ffffff;
  text-decoration: none;
}

.intro-footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.intro-footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* **************** Intro CSS **************** */

/* To-Do : Use variables. */

.current-role {
  font-size: xx-large;
}

/* **************** Intro Footer ****************   */
.intro-footer {
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.intro-footer strong {
  cursor: pointer;
  font-size: xx-large;
}

.intro-footer strong span {
  display: none;
}



/* **************** SKILLS ****************  */

.skills-title {
  flex: 1;
  font-size: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.div-skills-container {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}


.div-skills {
  flex: 1;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}


.div-skills div {
  flex: 1;
  font-size: 30px;
  text-align: center;
}

.div-skills ul li {
  padding: 5px;
  font-size: 25px;
}

.div-skills ul li i {
  font-size: 20px;
}

.div-skills ul {
  margin-top: 5px;
  text-align: center;
}

@media (max-width: 700px) {
  .div-skills {
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .div-skills-container {
    justify-content: center;
  }

  body {
    overflow-x: scroll;
  }
}

.work-exp-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw;
  margin-top: 5%;
}

@media (max-width: 700px) {


  .div-title div h1 {
    font-size: 50px;
  }

  .awards-footer {
    flex-direction: column;
  }

  .intro-footer {
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
  }

  .intro-footer strong {
    margin-top: 10px;
  }

  .contact-footer {
    flex-direction: column;
  }

  .work-exp-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .work-exp-div div {
    margin-top: 40px;
  }
}

.div-workexp {
  margin: 0px;
  width: 100vw;
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.work-exp-div strong {
  font-size: x-large;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.work-exp-div div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* **************** POP UP **************** */
.div-popup {

  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.842);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
}

.div-popup h1 {
  color: white;
  font-size: 80px;
}

.div-popup p {
  color: white;
  font-size: 30px;
}

.div-popup-content {
  margin: auto 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 30vh;
}

/* **************** Education  **************** */

.div-education-container {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.education-title {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.education-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 2;
}

.education-list strong {
  font-size: 30px;
}

@media (max-width: 700px) {
  .education-list strong {
    font-size: 20px;
  }

  .education-list {
    justify-content: flex-start;
    padding: 5%;
  }

  .education-list div {
    margin: 5%;
  }
}

/* **************** Projects Footer **************** */
.project-footer {
  margin-top: 5vh;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-footer strong {
  font-size: x-large;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* **************** Awards Footer **************** */
.awards-footer {
  margin-top: 5vh;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.awards-footer strong {
  font-size: x-large;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* **************** Contact Div Footer **************** */

.div-contact-container {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.contact-title {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.contact-content {
  margin: 5%;
  flex: 1;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-content strong {
  font-size: x-large;
  background-color: rgba(3, 63, 123, 0.651);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-content a {
  color: #ffffff;
  text-decoration: none;
}

.contact-content a:hover {
  color: #ffffff;
  text-decoration: none;
}

.contact-content a:visited {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 700px) {
  .contact-content {
    flex-direction: column;
    flex: 2;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* **************** Loading Screen **************** */
.loading-screen {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}





area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

